@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Here's a link to my <a href="https://baconsale.com/">Baconsale podcast site</a>.</p>
</div>